* {
    font: 1em sans-serif;
}

body {
    background-color: #052940;
}

form {
    background-color: #E8E2D2;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

form li+li {
    margin-top: 1em;
}

label {
    display: inline-block;
    width: 90px;
    text-align: right;
}

input {
    /* font: 1em sans-serif; */
    width: 300px;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus {
    border-color: #000;
}

.button {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button button {
    display: block;
    margin: 0 auto;
    width: 100%;
}

button {
    cursor: pointer;
}

table {
    background-color: #E8E2D2;
    margin-top: 1em;
    width: 100%;
    padding: 1em;
    border: none;
    border-radius: 1em;
    border-collapse: collapse;
}

table tr th {
    /* border-radius: 1em; */
    border: none;
}

table thead {
    border-bottom: 1px solid #ccc;
}

table tbody td {
    /* margin: 1em 0px; */
    text-align: center;
    border: none;
    /* border-bottom: 1px solid #ccc; */
}